<div id="account-menu">
    <h1 class="mt-5 mb-5">My Account</h1>
    <div class="mt-3">
        <a class="text-body-secondary" asp-area="" asp-controller="Customer" asp-action="Account">Account Summary</a>
    </div>
    <div class="mt-3">
        <a class="text-body-secondary" asp-area="" asp-controller="Customer" asp-action="OrderHistory">Order History</a>
    </div>
    <div class="mt-3">
        <a class="text-body-secondary" asp-area="" asp-controller="Customer" asp-action="Edit">Edit Account</a>
    </div>
    <div class="mt-5">
        <a id="logout-link" class="text-body-secondary" asp-area="" asp-controller="Customer" asp-action="Logout">Log out</a>
    </div>
</div>
