@model TravelExpertsDB.Booking

@{
    ViewData["Title"] = "CreateBooking";
}

<h1>CreateBooking</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBooking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Travellers</label>
                <input asp-for="TravelerCount" class="form-control" />
                <span asp-validation-for="TravelerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trip type</label>
                <select asp-for="TripTypeId" asp-items=@ViewBag.Types class="form-control" />
                <span asp-validation-for="TripTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
