@model TravelExpertsDB.Customer

@{
    ViewData["Title"] = "Update Password";
}
@if (TempData["Message"] != null)
{
    <h4 class="@(TempData["IsError"] != null? "text-danger": "text-success")">
        @TempData["Message"]
    </h4>
}
<div class="infopage">
    <partial name="_AccountPartial" />
    <div id="account-info" class="container-fluid mt-5 mb-5">
        <div id="account-header">
            <h1>Update Password</h1>
        </div>
        <div id="account-body" class="row">
            <div class="col-md-6">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="edit-form" class="form-group">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div id="edit-form" class="form-group">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div id="edit-form" class="form-group">
                        <label class="control-label">New Password</label>
                        <input asp-for="Password" id="edit-form-control" class="form-control" />
                    </div>
                    <div id="edit-form" class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" id="edit-form-control" class="form-control" />
                    </div>
                    <div id="edit-form" class="form-group mt-3">
                        <input type="submit" value="Save changes" class="btn btn-primary form-control custom-btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}