html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#logo {
    width: 100px;
    margin-right: 3em;
    margin-left: 2em;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainlogo{
    max-width: 30%;
    max-height: 30%;
}
.imagebanner {
    background-image: url('../images/jeremy-alford-55nvdjviqxy-unsplash.jpg');
    border-radius: 1em;
    padding: 5em;
    background-size: cover;
    background-position: center;
}
.imagebanner2 {
    background-image: url('../images/darkbanner.jpg');
    border-radius: 1em;
    padding: 5em;
    background-size: cover;
    background-position: center;
}

#go {
    width: 100px; /* Set a fixed width */
    height: 40px; /* Set a fixed height */
    padding: 10px;
    box-sizing: border-box;
}

#godiv{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.infopage{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1200px) {
    .infopage {
        flex-direction: column; /* Change to column layout */
        justify-content: space-evenly;
    }
    .address {
        background-color: cornflowerblue;
        padding: 3em;
        border-radius: 1em;
        margin-bottom: 2em;
        width: 100%;
    }
    .phoneNumbers {
        background-color: cornflowerblue;
        padding: 3em;
        border-radius: 1em;
        margin-bottom: 2em;
        width: 100%;
    }
    .personal {
        background-color: cornflowerblue;
        padding: 3em;
        border-radius: 1em;
        width: 100%;
    }
}
@media screen and (min-width: 1201px){
    .address {
        background-color: cornflowerblue;
        padding: 3em;
        border-radius: 1em;
        width: 30%;
    }

    .phoneNumbers {
        background-color: cornflowerblue;
        padding: 3em;
        border-radius: 1em;
        width: 30%;
    }

    .personal {
        background-color: cornflowerblue;
        padding: 3em;
        border-radius: 1em;
        width: 30%;
    }
}

.navbar {
    background-color: cornflowerblue;
}
.text-contact-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: skyblue;
}
#welcomepage {
    font-size: 1.5em;
    font-weight: bolder;
    background-color: cornflowerblue;
    padding: 3em;
    border-radius: 1em;
}
.welcome {
    font-weight: bolder;
    padding: 1em;
}